@import "_vars";

.section-apply {
  padding: 90px 0 0;
  background-color: $gray-two;
  position: relative;
  min-height: calc(100vh - 143px);
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-gray;

  &__content {
    height: 100%;
    max-width: 420px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  &__title {
    font-size: 41px;
    font-weight: $bold;
    line-height: 49px;
    margin-bottom: 13px;
  }

  &__text {
    margin-bottom: 25px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: $roboto;
  }

  &__image-wrap {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url(../images/dan-meyers-tShyWwTihEw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .section-apply {
    min-height: 100%;
    padding-bottom: 90px;

    &__image-wrap {
      display: none;
    }
  }
}
