//color
$white: #ffffff;
$black: #000000;
$gray: #f1f1f1;
$gray-two: #f8f8f8;
$light-gray: #959595;
$nav-hover: #b1d4d6;
$icon-section-three: #bbd9da;
$color-scroll-nav: #f6f6f5;
$line-scroll-nav: #c5c5c3;

//font-familt
$myriad-pro: "Myriad Pro";
$aleo: "Aleo";
$roboto: "Roboto";
$abril-fatface: "AbrilFatface";

//font-waight
$bold: bold;
$light: 300;
$regular: normal;

// font-style
$italic: italic;
$normal: normal;
